node_modules
.scannerwork
package-lock.json
.eslintcache
/.eslintcache
.idea
debug.log
*.properties
.history
build


.idea/
.vscode/
/frontend/package-lock.json
/frontend/build
/frontend/node_modules
.eslintcache



