.chat_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 6px 8px 6px 12px;

    @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0 1rem;
        gap: 1rem;
    }

    .button-container {
        display: flex;
        align-items: center;
        color: white;
        gap: 1rem;

        .emoji {
            position: relative;

            svg {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }

            .EmojiPickerReact {
                position: absolute;
                height: 370px !important;
                width: 300px !important;
                top: -395px;
                left: -15px;
                box-shadow: 0 5px 10px gray;
                border-color: lightgray;

                .emoji-scroll-wrapper::-webkit-scrollbar {
                    background-color: #080420;
                    width: 5px;

                    &-thumb {
                        background-color: #9a86f3;
                    }
                }

                .emoji-categories {
                    button {
                        filter: contrast(0);
                    }
                }

                .epr-preview {
                    display: none;
                }

                .epr-emoji-category-label {
                    font-size: 16px;
                }

                .epr-header-overlay {
                    display: none;
                }

                .emoji-group:before {
                    background-color: #080420;
                }
            }
        }
    }

    .input-container {
        width: 100%;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #ffffff34;

        input {
            width: 100%;
            height: 60%;
            background-color: transparent;
            border: none;
            font-size: 18px;

            &::selection {
                background-color: #9a86f3;
            }

            &:focus {
                outline: none;
            }
        }

        // button {
        //     padding: 0.3rem 2rem;
        //     border-radius: 2rem;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     background-color: #9a86f3;
        //     border: none;

        //     @media screen and (min-width: 720px) and (max-width: 1080px) {
        //         padding: 0.3rem 1rem;

        //         svg {
        //             font-size: 1rem;
        //         }
        //     }

        //     svg {
        //         font-size: 2rem;
        //         color: white;
        //     }
        // }
    }
}